/* 1366 common css */
html {
    /* 10px: easy to use with REM */
    /* Do not change this value in any media query */
    /* make use of CSS3 variables where required */
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    background-color: red;

	@include max_breakpoint(1920px) {
		max-width: 92.5%;
        margin: 0 auto;
	}

	@include max_breakpoint(540px) {
		max-width: 100%;
        padding-left: 20px;
		padding-right: 20px;
		
	}
}
