@import 'max/1440.scss';
@import 'max/1366.scss';
@import 'max/1280.scss';
@import 'max/1024.scss';
@import 'max/768.scss';
@import 'max/540.scss';
@import 'max/480.scss';
@import 'max/414.scss';
@import 'max/360.scss';
@import 'max/320.scss';


