/* SCSS includes */
@import 'reset';
@import 'variables';
@import 'colors';
@import 'functions';
@import 'mixins';
@import 'font-size';

@import 'fonts';
// @import 'lib';
@import 'animations';



@import 'global';
@import 'components';
@import 'homePage/sections';
@import 'leadership/sections';
@import 'catalyst-chronicles/sections';
@import 'footer';
@import 'pages/pages';
@import 'min';
@import 'max';