/* CSS Timing Functions */
$elastic: cubic-bezier(0.64, 0.57, 0.67, 1.53);
$out_back: cubic-bezier(0.18, 0.89, 0.32, 1.28);
$in_out_back: cubic-bezier(0.68, -0.55, 0.27, 1.55);

/* Change base Font size here */
$baseFont: 16;