/*  PURPOSE PHOTOBOOTH SECTION 📷 */
// Hero section
.purposebooth-hero {
  width: 100%;
  height: vw(686);
  overflow: hidden;
}
.purposebooth-hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@include max_breakpoint(414px) {
  .purposebooth-hero {
    height: auto;
  }

  .purposebooth-hero-image {
    width: 100%;
    height: vw(400, 414);
    object-fit: cover;
    object-position: center;
  }
}
// Title
.purpose-photobooth__header {
  position: relative;
  font-size: vw(108);
  font-weight: 700;
  background: linear-gradient(to right, #006b07, #00d10e);
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  line-height: 105%;
  padding-top: vw(90);
  padding-left: vw(100);
  margin-bottom: vw(30);
}

/* GREEN BACKGROUND SECTION */

.purpose-photobooth__content {
  position: relative;
  width: 100%;
  min-height: vw(842);
  background: linear-gradient(
    306deg,
    #003313 0.43%,
    #0a6129 23.99%,
    #036928 47.56%,
    #125d2d 73.56%,
    #009938 99.57%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: vw(54);
}

/* FILTER BUTTONS */

.purpose-photobooth__filters {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 vw(100);
  gap: vw(50);
  margin-top: vw(50);
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  color: #fff;
  border-radius: vw(10);
  border: vw(0.9) solid #fff;
  padding: vw(10) vw(15);
  font-family: Inter;
  font-size: vw(35);
  font-weight: 500;
  line-height: 105%;
  transition: all 0.3s ease;
}

.filter-btn.active {
  background-color: #fff;
  color: #017208;
  border: vw(0.9) solid #fff;
  box-shadow: 0 vw(3.6) vw(3.6) rgba(0, 0, 0, 0.25);
}

@include max_breakpoint(414px) {
  .purpose-photobooth__filters {
    margin-top: vw(20, 414);
    flex-wrap: wrap;
  }

  .filter-btn {
    font-size: vw(14, 414);
    padding: vw(8, 414) vw(12, 414);
    border-radius: vw(6, 414);
  }
}

/* PAINT OUR PURPOSE SECTION */
.paint-purpose {
  width: 100%;
  max-width: 100%;
  background: #fff;
  box-sizing: border-box;
  overflow: hidden;
}

.paint-purpose__content {
  max-width: 100%;
  position: relative;
  box-sizing: border-box;
  margin-top: vw(150);

  h2 {
    position: relative;
    z-index: 1;
    background: linear-gradient(90deg, #006b07 0%, #00d10e 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin: 0 0 vw(40);
    font-family: Inter;
    font-size: vw(108);
    font-style: normal;
    font-weight: 700;
    line-height: 105%; /* 113.4px */
    text-transform: uppercase;
  }
}

.paint-purpose__locations {
  position: relative;
  z-index: 1;
  gap: vw(6);
  display: flex;
}

.paint-purpose__locations .tag {
  display: inline-flex;
  padding: vw(14) vw(15);
  justify-content: center;
  align-items: center;
  border-radius: vw(10);
  border: vw(1) solid #017208;
  color: #017208;
  font-family: Inter;
  font-size: vw(20);
  font-style: normal;
  font-weight: 500;
  line-height: 105%; /* 36.75px */
  margin: vw(10);
  cursor: pointer;

  &:hover {
    opacity: 0.9;
    border-color: #006b07;
  }

  &.highlight {
    background: #017208;
    border-color: #03842e;
    color: #fff;
    font-family: Inter;
    font-size: vw(20);
    font-style: normal;
    font-weight: 500;
    line-height: 105%;
  }
}

.paint-purpose__images {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: vw(10);
  padding-left: vw(100);
  padding-right: vw(100);
  box-sizing: border-box;
  margin-bottom: vw(30);
  grid-template-areas:
    "img1 img1 img1 img3 img3 img4 img4 img6 img6 img6 img6 img7 img7 img7 img7"
    "img1 img1 img1 img3 img3 img4 img4 img6 img6 img6 img6 img7 img7 img7 img7"
    "img1 img1 img1 img5 img5 img5 img5 img6 img6 img6 img6 img7 img7 img7 img7"
    "img2 img2 img2 img5 img5 img5 img5 img6 img6 img6 img6 img7 img7 img7 img7"
    "img2 img2 img2 img5 img5 img5 img5 img8 img8 img9 img9 img10 img10 img11 img11"
    "img2 img2 img2 img5 img5 img5 img5 img8 img8 img9 img9 img10 img10 img11 img11";
  grid-auto-flow: dense;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: vw(12);
  }

  img:nth-child(1) {
    grid-area: img1;
  }
  img:nth-child(2) {
    grid-area: img2;
  }
  img:nth-child(3) {
    grid-area: img3;
  }
  img:nth-child(4) {
    grid-area: img4;
  }
  img:nth-child(5) {
    grid-area: img5;
  }
  img:nth-child(6) {
    grid-area: img6;
  }
  img:nth-child(7) {
    grid-area: img7;
  }
  img:nth-child(8) {
    grid-area: img8;
  }
  img:nth-child(9) {
    grid-area: img9;
  }
  img:nth-child(10) {
    grid-area: img10;
  }
  img:nth-child(11) {
    grid-area: img11;
  }
}

.paint-purpose-wrapper {
  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-bottom: vw(20);

  .paint-purpose-btn {
    padding: 0.3125vw 0;
    margin: 0.0520833333333vw auto;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #017208;
    font-family: Inter;
    font-size: vw(25);
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    position: relative;
  }

  .paint-purpose-btn::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #017208;
    margin-top: 0.104166666667vw;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
}

.photobooth-wrapper {
  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-bottom: vw(20);

  .photobooth-btn {
    padding: 0.3125vw 0;
    margin: 0.0520833333333vw auto;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #AEFDB3;
    font-family: Inter;
    font-size: vw(25);
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    position: relative;
  }

  .photobooth-btn::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #AEFDB3;
    margin-top: 0.104166666667vw;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
}

// photobooth images:
.photobooth__images {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: vw(10);
  padding-left: vw(100);
  padding-right: vw(100);
  box-sizing: border-box;
  margin-bottom: vw(30);
  grid-template-areas:
    "img1 img1 img1 img1 img2 img2 img3 img3 img6 img6 img6 img6"
    "img1 img1 img1 img1 img2 img2 img3 img3 img6 img6 img6 img6"
    "img1 img1 img1 img1 img4 img4 img5 img5 img6 img6 img6 img6"
    "img1 img1 img1 img1 img4 img4 img5 img5 img6 img6 img6 img6";
  grid-auto-flow: dense;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: vw(12);
    place-items: center;
  }
  img:nth-child(1) {
    grid-area: img1;
  }
  img:nth-child(2) {
    grid-area: img2;
  }
  img:nth-child(3) {
    grid-area: img3;
  }
  img:nth-child(4) {
    grid-area: img4;
  }
  img:nth-child(5) {
    grid-area: img5;
  }
  img:nth-child(6) {
    grid-area: img6;
  }
}
