// Hero section ⭐
.purpose__hero {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.purpose__hero-image {
  width: vw(1920);
  height: vw(850);
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  display: block;
  margin-bottom: vw(80);
}

// Title ⭐
.wall__title {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: vw(108);
  line-height: 105%;
  letter-spacing: 0%;
  text-transform: uppercase;
  background: linear-gradient(90deg, #006b07 0%, #00d10e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: vw(90);
  padding-left: vw(80);
}

// Card grid layout ⭐

.wall__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: vw(220);
  gap: vw(20);
  padding: vw(30) vw(80) 0 vw(80);
}

.card {
  position: relative;
  border-radius: vw(16);
  overflow: hidden;
  background: #08A03F;
  color: #fff;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../images/wall-of-hopes/shapes/Petal.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: vw(120);
  pointer-events: none;
}

.card--tall {
  grid-row: span 2;
}

.card--wide {
  grid-column: span 2;
}

.card--large {
  grid-column: span 2;
  grid-row: span 2;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
